@import url(https://fonts.googleapis.com/css?family=Limelight);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
$fonts-headline: "arial narrow", Arial, Verdana, sans-serif;
$font-art-deco-thin: Poiret One;
$font-art-deco: Limelight;
$fonts-body: verdana, arial, sans-serif;
$background-color: rgb(233, 233, 233);
$primary: #D3BFA6;
$accent1: #C88D81;
$accent2: #E5C469;
$accent3: #415457;
$accent4: #757670;
$accent5: #444C57;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #444C57;
$text-light: #fff;
